.text-decorator-none {
    text-decoration: none;
}

.txtlistat {
    color: black !important;
    font-family: 'Montserrat Alternates', sans-serif !important;
}

.botao {
    border-color: white !important;
    color:white !important;
}