.box1 {
    height: 100px;
}

.box2 {
    height: 55px;
}

.redes {
    font-size: 40px !important;
    color: white;
}

.texto3 {
    color: white;
    font-family: 'Rubik Dirt', cursive !important;;
}

.text-decorator-none{
    text-decoration: none; /*tira o sublinhado de "logar"*/
}


