.box1 {
    background-color: #607d8b;
    height: 120px;
}

.box2 {
    background-color: #546e7a;
    height: 60px;
}

.redes {
    font-size: 60px !important;
    color: white;
}

.texto3 {
    color: white;
    font-family: 'Rubik Dirt', cursive !important;;
}

.text-decorator-none{
    text-decoration: none; /*tira o sublinhado de "logar"*/
}


