.caixa {
    background-color: #607d8b;
}

.titulo {
    color: white !important;
    font-weight: bold !important;
}

.botao {
    border-color: white !important;
    background-color: #607d8b;
    color:white !important;
}

.postagens {
    background-color: white;
}