.titulo {
    color: white !important;
    font-family: 'Montserrat Alternates', sans-serif !important;
}

.botao {
    border-color: white !important;
    color:white !important;
}

.postagens {
    background-color: white;
}

.text-decorator-none {
    text-decoration: none;
}