.titulo {
    color: #33691e !important;
    font-weight: bold !important;
    font-family: 'Rubik Dirt', cursive !important;
}

.botao {
    border-color: white !important;
    color:white !important;
}

.postagens {
    background-color: white;
}
