.imagem2{
    background-image: url(https://www.basketballnetwork.net/.image/t_share/MTg3MTYwOTU1NTczMDUzMzI1/rodman-copy.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.texto2 {
    font-weight: bold !important;
    font-family: 'Zen Maru Gothic', sans-serif !important;
    color: #283593 !important;
    text-shadow: -1px -1px white, 1px 1px #333
}

.bcancelar{
    margin-right: 20px !important;
    border-color: white !important;
    color:white !important;
}

